h1,h2,h3,ul,li {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

* {
  margin: 0px;
  padding: 0px;
}


body {
  font-family: LinotypeUnivers-630Bold, "Gothic Medium BBB", 游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic, "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  
}

.container1 {
  overflow: hidden;
  
}
.container:not(:root) {
 width: 80%;
 padding: 0;
 margin: 0 auto;
}

.header {
  padding: 30px 0 80px;
  border-bottom: 1px black solid;
  width: 100%;
  height: 720px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-color: #EFEFF0;
  color: white;
  background: rgba(0, 0, 0, 0.6);
}





video {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  background: url('男性がパソコンいじってる.jpg') no-repeat;
  background-size: cover;
  z-index: -3;
}

.header a {
  color: black;
}

.row:not(:root) {
  margin: 0px;
}

.head{
position: fixed;
top: 0px;
left: 0px;
width: 102%;
padding: 20px 50px 0;
background-color: rgba(255, 255, 255, 0.3);
}


.logo {
  height: 50px;
}

.nav:not(:root) {
  text-align: center;
  padding-top: 15px;
  padding-right: 0px;
}

.nav ul {
  width: 100%;
  display: flex;
  height: 100%;
  padding-left: 0;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  flex: auto;
  height: 100%;
}

.nav ul li:hover {
    transition: 0.1s;
    border-bottom: solid 2px #666;
  }

.nav ul a {
  text-decoration: none;

}

.full-size {

}

a {
  transition: 0.3s;
  text-decoration: none;


}

.aaa {
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}



.bbb {
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;

}




#hamburger {
  width: 80%;
  margin-left: 100px;
  margin-top: 10px;
}

.menubtn{
  width:100%;
  max-width: 50px;
  position: fixed;/*追記*/
  z-index: 999;/*追記*/
  display: none;
}

.w1000{
  max-width:1000px;
  margin: 0 auto;
  position: relative;/*追記*/
  height:100%;/*追記*/
  display: none;
}
.hmg-nav {
  padding: 0px 3% 20px;/*調整*/
  position: absolute;/*追記*/
  top: 30px;
  left: -100px;
  height:100%;/*追記*/
  width:100%;/*追記*/
}
.hmg-nav li {
  display: block;
  margin-bottom: 30px;
  width: 100px;

}
.hmg-nav ul{
  background-color;
  background-color:rgb(204, 204, 204, 0.9);
  padding: 80px 100px 80px 50px;
  width: 250px;
}






.name {
  text-align: center;
  margin: 120px 0 30px;
}
h1 {
  font-style: normal;
  font-size: 21px;
  line-height: 36px;
  font-weight: 400;  
  font-family: LinotypeUnivers-630Bold, "Gothic Medium BBB", 游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic, "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: 3px;
}

#name {
  font-size: 60px;
  color: white;
}
.header h1 {
}


.descri {
  text-align: center;
  margin: auto;
}

.descri h2 {
  margin-bottom: 70px;
}
h2 {
  font-style: normal;
  font-size: 21px;
  line-height: 36px;
  font-weight: 400;  
  font-family: LinotypeUnivers-630Bold, "Gothic Medium BBB", 游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic, "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: 3px;

}

#lowprice{
  margin-bottom: 110px;
  color: white;
}
p {
  font-style: normal;
  font-size: 22px;
  line-height: 41px;
  font-weight: 400;
  font-family: LinotypeUnivers-430Regular, "Gothic Medium BBB", 游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic, "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: 3px;

}

#apply {
  font-size: 24px;
  font-weight: 400;
  line-height: 41px;
  padding: 12px 60px;
  border-radius: 7px;
  text-decoration: none;
}


.intro-wrapper {
  padding: 90px 0 90px;
  background-color: #EFEFF0;


}
.intro-wrapper h2{
  margin-bottom: 20px;
}

.intro-p {
  font-size: 16px;
  text-align: left;
  line-height: 2;
}

.kazuki {
  margin: 0px 0 60px;
  float: left;
  margin-right: 200px;
  width: 20%;
  padding-left: 10px
}



.skill-wrapper {
  text-align: center;
  padding: 20px 0 80px;
  background-color: #EFEFF0;
  padding-top: 80px;
  background-color: #EFEFF0;
  background-image: url(back.jpg);
  background-size: cover;


}

.skill-wrapper h2 {
  margin-bottom: 50px;
}
.skill:not(:root) {
  width: 60%;
  margin: 0 auto;
}
.skill-col:not(:root) {
  padding: 0;
  margin-bottom: 50px;
}



.img-wrapper {
  padding-top: 80px;
  background-color: #EFEFF0;
}

.img-wrapper h2 {
text-align: center;
margin-bottom: 50px;
}


.cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(239,239,240,0.6);
  z-index: 3;
  max-width: 100%;
}


.link {
  z-index: 1;
}

.cover:hover {
  background-color: rgba(239,239,240,0);
}

.img-con {
  width: 100%;
  margin-right: 0;
}

.work {
  width: 100%;
  
}

.img-col:not(:root) {
  position: relative;
  height: 300px;
}

.frog {
  background-image: url(frog.gif);
  background-size: cover;

}

.airb {
  background-image: url(airb.gif);
  background-size: cover;

}
.hazard {
  background-image: url(hazard-1.png);
  background-size: cover;

}

.sample {
  background-image: url(samplesite.gif);
  background-size: cover;

}

.sampletwo {
  background-image: url(samplesite2.gif);
  background-size: cover;

}
.mount {
  background-image: url(mount-1.gif);
  background-size: cover;

}

.img-con:not(:root) {
}





.form-wrapper{
text-align: center;
padding: 80px 0 80px;
height: auto;
background-color: #EFEFF0;
background-image: url(back.jpg);
background-size: cover;

}

.form-wrapper h2 {
  margin-bottom: 40px;
}


.form input {
  display: block;
  margin: 0 auto 20px;
  
}

.form textarea {
  display: block;
  margin: 0 auto 20px;
}

.form button {
  display: block;
  margin: 0 auto 20px;
}

.input {
  border-radius: 7px;
  padding: 10px 100px;
}

.footer {
  padding: 20px;
  background-color: #EFEFF0;
  padding-top: 80px;
}

